# Generado por Vivado, regenerable corriendo el build de nuevo (no hace falta para el respaldo)
**/.srcs/
**/.Xil/
**/.hbs/
**/sim/
**/xsim_diag5/
**/xsim.dir/
webtalk_pa.xml
*.wdb
vivado_pid*.str
*.jou
*.log
*usage_statistics_webtalk*
tight_setup_hold_pins.txt
synReport.txt*
